<div class="grid grid-cols-7 px-12 border-t border-[#c1cedb] text-center">
  <button
    *ngFor="let day of days; index as i"
    type="button"
    class="flex justify-center items-center h-12 border-0 outline-0 bg-white cursor-pointer"
    (click)="selectDay(i)"
  >
    <span
      class="transition-all ease-in-out flex justify-center items-center w-8 h-8 rounded-full text-sm text-[#545e6f] font-semibold hover:bg-[#39a1e7] hover:text-white"
      [ngClass]="{ 'bg-[#39a1e7] text-white': i === selected }"
    >
      {{ day }}
    </span>
  </button>
</div>
