<header class="block bg-[#8022b0] text-center">
  <nav class="w-full max-w-3xl my-0 mx-auto">
    <a
      class="transition-colors duration-300 inline-block w-40 py-4 border-b-2 border-transparent text-white/60 uppercase text-base font-medium hover:cursor-pointer hover:text-white hover:border-b-white"
      routerLink="schedule"
      routerLinkActive="active"
    >
      Schedule
    </a>
    <a
      class="transition-colors duration-300 inline-block w-40 py-4 border-b-2 border-transparent text-white/60 uppercase text-base font-medium hover:cursor-pointer hover:text-white hover:border-b-white"
      routerLink="meals"
      routerLinkActive="active"
    >
      Meals
    </a>
    <a
      class="transition-colors duration-300 inline-block w-40 py-4 border-b-2 border-transparent text-white/60 uppercase text-base font-medium hover:cursor-pointer hover:text-white hover:border-b-white"
      routerLink="workouts"
      routerLinkActive="active"
    >
      Workouts
    </a>
  </nav>
</header>
