<div
  class="overflow-hidden my-12 border border-[#c1cedb] rounded-sm bg-white shadow"
>
  <div class="flex items-center p-8 border-b border-[#c1cedb] bg-[#f6fafd]">
    <h1 class="grow flex items-center m-0 p-0 text-2xl">
      <img class="mr-2" src="/assets/img/food.svg" />
      <span *ngIf="meal$ | async as meal; else title">
        {{ meal.name ? "Edit" : "Create" }} meal
      </span>
      <ng-template #title>Loading...</ng-template>
    </h1>
  </div>

  <div *ngIf="meal$ | async as meal; else loading">
    <meal-form
      [meal]="meal"
      (create)="addMeal($event)"
      (update)="updateMeal($event)"
      (remove)="removeMeal($event)"
    ></meal-form>
  </div>

  <ng-template #loading>
    <div
      class="flex justify-center items-center w-full p-8 text-xl font-medium"
    >
      <img class="mr-2" src="/assets/img/loading.svg" />
      Fetching meal...
    </div>
  </ng-template>
</div>
